h1{
    text-align: center;
}
body{
    text-align: center;
    padding-top: 60px;
}
.catalogitem{
  height: 100px;
  width: 50px;
  
}
button

nav {
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .invalid-data {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 0.8em;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    backdrop-filter: blur(4px);
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.3);
    border-bottom: 1px solid #ccc;
  }  
  .delete-form {
    display: inline-block;
  }
  button:hover{
    background-color: lightyellow;
  }
  .delete:hover{
    background-color: red;
  }
  .save:hover{
    background-color: green;
  }

  label {
    display: block;
  }
  
  .explanation {
    font-size: 0.7px;
    color: #666;
  }
  
  input {
    border: 1px solid red;
 
  }
  
  .flash {
    opacity: 0;
  
    visibility: hidden;
    animation: disappear 3s;
  }
  
  @keyframes disappear {
    0% {
      opacity: 1;
      visibility: visible;
    }
  
    80% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

